{# templates/formation/eidt.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Editer Catégorie{% endblock %}
 
{% block body %}
<h2>{{title}}</h2>
 
{% if auth %}

{{form(editForm)}}


{% endif %}

{% endblock %}